version: '3'

services:
  redpanda:
    command:
      - redpanda
      - start
      - --set redpanda.enable_idempotence=true
      - --smp
      - '1'
      - --reserve-memory
      - 0M
      - --overprovisioned
      - --node-id
      - '0'
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://redpanda:29092,OUTSIDE://localhost:9092
    image: docker.vectorized.io/vectorized/redpanda:latest
    container_name: redpanda
    ports:
      - 9092:9092
      - 29092:29092

  mongodb:
    image: mongo:latest
    container_name: mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password

  kowl:
    image: quay.io/cloudhut/kowl:latest
    container_name: kowl
    restart: on-failure
    environment:
      KAFKA_BROKERS: "redpanda:29092"
    ports:
      - "8080:8080"
    entrypoint: ./kowl
    depends_on:
      - redpanda

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongodb
    restart: unless-stopped

  police-api-reader:
    image: police-api-reader:latest
    container_name: police-api-reader
    ports:
      - "8082:8082"
    depends_on:
      - redpanda
      - mongodb
    environment:
      SPRING_KAFKA_BOOTSTRAP-SERVERS: "redpanda:29092"
      SPRING_DATA_MONGODB_URI: mongodb://admin:password@mongodb:27017/police-event?authSource=admin
      SPRING.DATA.MONGODB.DATABASE: police-event
      POLICE_API_URL: https://polisen.se/api/events
      POLICE_EXTENDED_BASE_URL: https://polisen.se
      KAFKA_EVENT_TOPIC: police-event

  police-twitter:
    image: police-twitter:latest
    container_name: police-twitter
    ports:
      - "8083:8083"
    depends_on:
      - redpanda
      - mongodb
    environment:
      SPRING_KAFKA_BOOTSTRAP-SERVERS: "redpanda:29092"
      SPRING_DATA_MONGODB_URI: mongodb://admin:password@mongodb:27017/twitter-bot?authSource=admin
      SPRING.DATA.MONGODB.DATABASE: twitter-bot
      twitterConsumerKey:
      twitterConsumerSecret:
      twitterAccessToken:
      twitterTokenSecret:
